/* GLOBAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

:root {
  --background-color: hsl(0, 0%, 98%);
  --header-text-color: hsl(234, 12%, 34%);
}

/* BODY STYLES */
body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

/* MOBILE FIRST */

/* HEADER STYLES */
#wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 25px 0 25px;
}

#header {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

#header-wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 0;
}

#header-title > h1 {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--header-text-color);
}

#header-title > h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--header-text-color);
}

#header-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 0;
  padding: 0 10px;
}

#header-description > p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--header-text-color);
}

/* MAIN STYLES */
#main {
  display: flex;
  flex-direction: column;
}

#left-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: space-around;
  padding: 0 10px;

  border-radius: 3%;
  border-top: 5px solid hsl(180, 62%, 55%);
  box-shadow: -5px 14px 20px -2px grey;
  background-color: #ffffff;
}

#card-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#card-text p {
  font-weight: 200;
}

#card-image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

#card-image img {
  width: 50px;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
